<div class="inner">
  <section class="text">
    <p class="p1">
      Hi, my name is Valentine and I love to create thoughtfully designed
      products that runs on the web. For me, it all started when I wanted
      to make a website where people could watch architectural videos for
      free. I started with HTML but could not wrap my head around CSS.
    </p>
    <p class="p2">
      After listening to my dad say
      <b><i>“Genius is one percent inspiration and 99 percent
          perspiration.”- Thomas Edison</i>.
      </b>
      I realised importance of dedication and hard work over mere
      creativity.
    </p>
    <p class="p3">Here are a few tools and technologies i work with :</p>
    <section class="tech">
      <ul>
        <li>HTML, CSS, SCSS</li>
        <li>NodeJS</li>
        <li>TypeScript</li>
        <li>Angular</li>
        <li>Version Control(Git)</li>
        <li>React</li>
      </ul>
    </section>
  </section>
  <div class="image">
    <img src="../../assets/me.webp" alt="profile-pic" />
  </div>
</div>