.inner {
  display: flex;

  ul {
    max-width: max-content;
    padding: 0;
    list-style-type: none;
    margin-right: 20px;

    li {
      white-space: nowrap;
      display: flex;
      max-width: 100%;
      justify-content: left;
      align-items: center;
      padding: 20px;
      border-left: 2px solid var(--sup-text);
      font-size: 16px;
    }

    .activeTile {
      border-left: 2px solid var(--sec);
      background-color: var(--experience-higlight);
      color: var(--sec);
    }
  }
  .content {
    max-height: 800px;
    .value {
      min-height: 300px;
      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 5px;
        .colored-text {
          color: var(--sec);
        }
        .firm {
          color: var(--sec);
          &::before {
            content: "@ ";
          }
        }
      }

      ul {
        margin-top: 20px;
        li {
          white-space: normal;
          border: none;
          padding: 0;
          line-height: 27px;
          display: flex;
          align-items: baseline;
          margin-bottom: 18px;
          &::before {
            content: "▹";
            margin-right: 0.2rem;
            color: var(--sec);
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .inner {
    flex-direction: column;

    ul {
      display: flex;
      margin: 0;
      overflow-x: auto;
      li {
        border-left: none;
        border-bottom: 2px solid var(--sup-text);
      }
      .activeTile {
        border-left: none;
        border-bottom: 2px solid var(--sec);
      }
    }
    .content {
      margin-top: 2.6rem;
      .value {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
