@import "../../styles.css";
@import "../home/home.component.scss";

.project-container {
  .p1 {
    transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    margin-bottom: 40px;
    justify-content: left;
    overflow: visible;
    background-color: var(--project);
    .info {
      color: var(--project-text);
      padding: 0 10px 0 0;
      background-color: var(--project);
      .sn {
        transition: 1s;
        margin-right: 39px;
        display: flex;
        align-items: center;
        color: var(--project-text);
        &::before {
          content: "";
          transition: 1s;
          display: block;
          height: 1px;
          width: 90px;
          margin-right: 5px;
          background-color: var(--project-text);
        }
      }
      width: 100%;
      height: 187px;
      max-height: 187px;
      display: flex;

      justify-content: space-between;
      align-items: center;
      .details {
        h3 {
          font-size: 1.5rem;
          color: var(--project-text);
          margin-bottom: 18px;
        }
        .stack {
          p {
            margin: 0px 10px 15px 0px;
            font-size: 0.7rem;
            color: var(--project-text);
          }
          display: flex;
        }
        a {
          text-decoration: none;
        }
        .src {
          width: fit-content;
          margin: 0;
          display: flex;
          align-items: center;
          color: var(--sec);
          &:hover {
            text-decoration: line-through;
          }
        }
      }

      button {
        a {
          text-decoration: none;
        }
        border: none;
        z-index: 2;
        transition: 1s;
        transition-property: height width;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        white-space: nowrap;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 20px;
        font-size: 18px;
        background-color: var(--project-button);
        transition-timing-function: ease-out;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 20%;
        transition: 1s;
        position: relative;
        visibility: hidden;
        box-shadow: -15px 6px 20px rgba(0, 0, 0, 0.35);
        top: 0;
        left: 10%;
      }
    }

    &:hover {
      background-color: var(--pri-tint);
      .info {
        background-color: var(--pri-tint);
        .sn {
          font-size: 1.2rem;
          &::before {
            content: "";
            display: block;
            height: 1px;
            width: 118px;
            margin-right: 5px;
            background-color: var(--project-text);
          }
        }
        .details {
          h3 {
            font-size: 1.8rem;
          }
          .stack {
            p {
              margin: 0px 10px 15px 0px;
              font-size: 1rem;
            }
          }
          .src {
            font-size: 1.2rem;
          }
        }
        button {
          padding: 12px 20px;
          border-radius: 5px;
          width: auto;
          height: auto;
          color: var(--text);
          background-color: var(--project-button-hover);

          &:hover {
            background-color: var(--pri);
            color: var(--sec);
          }
        }
        img {
          left: -5%;
          visibility: visible;
        }
      }
    }
  }
}

// Mobile Version
@media (max-width: 480px) {
  .project-container {
    .p1 {
      .info {
        width: 100%;
        justify-content: space-between;
        .sn {
          margin-right: 0;
          &::before {
            width: 12px;
          }
          img {
            display: none;
          }
        }
        img {
          display: none;
        }
        button {
          margin-right: 10px;
          position: relative;
          top: 20%;
          right: 0;
          padding: 12px;
          font-size: 0.7rem;
          height: auto;
          width: auto;
          border-radius: 0;
          background-color: var(--project-button-hover);
          color: var(--pri);
        }
        &:hover {
          .sn {
            &::before {
              width: 50%;
            }
          }
          
        }
      }
    }
  }
}

.see-others {
  text-align: center;
  margin: 43px 0 120px 0;

  .seeArchive {
    @extend .btn;
  }
}
.other-projects {
  margin-bottom: 200px;
  h2 {
    margin-bottom: 12px;
    font-size: 2.23rem;
  }
  max-width: 568px;
  line-height: 1.8rem;
  .pre {
    margin-bottom: 20px;
  }
  .other-list {
    list-style-type: none;
    li {
      color: var(--sec);
      padding-bottom: 10px;
      .src {
        transition: 1s;
        color: var(--sec);
        text-decoration: underline;
        margin-left: 20px;
        &:hover {
          text-decoration: line-through;
        }
      }
      .name {
        @extend .src;
        font-size: 1.2rem;
      }
    }
  }
}

@keyframes picturer {
  0% {
    transition: 0.5s;
    transform: scale(1.2);
  }
  15% {
  }
  50% {
  }
  75% {
    visibility: visible;
  }
  100% {
    left: -5%;
  }
}
