 <p class="title" id="projects"><span>03.</span>Projects</p>
    <section class="project-container">
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="see-others">
        <button class="seeArchive" (click)="seeOtherProjects()">
          {{ seeOthers ? "Hide" : "See" }} Other Projects
        </button>
      </div>
      <div class="other-projects" *ngIf="seeOthers">
        <h2>Other Projects</h2>
        <p class="pre">
          These are other projects that i create to constantly improve my
          skills. The source codes are available on my github repositories
        </p>
        <ul class="other-list">
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
        </ul>
      </div>
    </section>