 
      <div class="inner">
        <div class="form">
          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSubmit(contactForm.value)"
          >
            <p class="errormsg">{{ nameErrorAlert() }}</p>
            <input type="text" formControlName="name" placeholder="Name" />
            <p class="errormsg">{{ emailErrorAlert() }}</p>
            <input type="email" formControlName="email" placeholder="E-mail" />
            <p class="errormsg">{{ messageErrorAlert() }}</p>
            <textarea
              formControlName="message"
              cols="30"
              rows="10"
              placeholder="Message"
            ></textarea>
            <button [ngClass]="!contactForm.valid ? 'disabled' : 'submit'">
              Send Message
            </button>
          </form>
        </div>
        <div class="note">
          <p>
            Presently, I'm open to full and part time frontend engineering
            remote roles. If you have any, just want to say hi or have any
            questions, feel free to leave a message. 😊
          </p>
          <p class="location">Port - Harcourt, Nigeria</p>
        </div>
      </div>
    