/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
  background-color: var(--pri);
  color: var(--text);
}

:root {
  --pri: #181d27;
  --sec: #fed253;
  --sec-tint: #fed3532f;
  --text: #cecece;
  --em-text: #fed253;
  --sup-text: #ffffff;

  --aladin: "Aladin", cursive;
  --roboto: "Roboto", sans-serif;
}

.dark {
  --pri: #fbfbfb;
  --sec: #ffbd00;
  --sec-tint: #ffbd00;

  --text: #181d27;
  --em-text: #fed253;
  --sup-text: #ffffff;
}

/* .dark {
  --pri: green;
  --sec: rgb(0, 255, 0);
} */
