/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--lato);

  color: var(--text);
}

:root {
  --outline:#ffbd00;
  --outline-text:#9d9d9d;
  --pri: #181d27;
  --pri-tint: #0d1525;
  --sec: #fed253;
  --sec-tint: #fed3532f;
  --project-text: #ffffff;
  --project-button: #4d5158;
  --project-hover: #13161c;
  --project: #292f3a;
  --project-button-hover: #ffffff;
  --text: #9d9d9d;
  --em-text: #fed253;
  --sup-text: #ffffff;
  --prof-text: #cecece;
  --experience-higlight: #091225;

  --aladin: "Aladin", cursive;
  --roboto: "Roboto", sans-serif;
  --lato: "Lato", sans-serif;
}

.dark {
   --outline:#181d27;
   --outline-text:#181d27;
  --pri: #fbfbfb;
  --pri-tint: #696c76;
  --sec: #ffbd00;
  --sec-tint: #ffbb001c;
  --experience-higlight: #091225;
  --project: #a1a3a9;
  --project-hover: #6b6a6a;
  --project-button: #ffbd00;
  --project-button-hover: #ffbd00;
  --project-text: #ffffff;
  --prof-text: #a2a2a2;
  --text: #181d27;
  --em-text: #fed253;
  --sup-text: #181d27;
}

.open{
  --clear: 0;
  --leftward:translateY(8px) rotate(45deg);
  --rightward:translateY(-8px) rotate(-45deg);
}