<div class="layout" [ngClass]="!darkTheme ? 'dark' : ''">
  <nav>
    <ul>
      <li><span>01.</span>About Me</li>
      <li><span>02.</span>Job Experience</li>
      <li><span>03.</span>Projects</li>
      <li><span>04.</span>Contact Me</li>
    </ul>
  </nav>

  <h1 class="logo">&lt;VS/&gt;</h1>
  <section class="body">
    <!--   Intro section     -->
    <section class="intro">
      <div class="name">
        <p>&lt;Hi, my name is/&gt;</p>
        <h1>Samuel Valentine.</h1>
        <h2>I'm a Frontend Engineer</h2>
        <button>Let's Connect</button>
      </div>
      <div class="about">
        <p>
          I am <span>obsessed</span> with building and ocassionally designing
          avant-garde products that runs on the world wide web. Presently, I'm a
          <span>freelance frontend engineer</span> open to full and part time
          remote roles.
        </p>
      </div>
    </section>

    <!-- About me section -->
    <p class="title"><span>01.</span> About Me</p>
    <section class="about-me">
          <section class="text">
        <p class="p1">
          Hi, my name is Valentine and i love to create thoughtfully designed
          products that runs on the web. For me, it all started when i wanted to
          make a website where people could watch architecture videos for free.
          I started with HTML but could not wrap my head around CSS.
        </p>
        <p class="p2">
          After listening to my dad say
          <b
            ><i
              >“Genius is one percent inspiration and 99 percent perspiration.”-
              Thomas Edison</i
            >.
          </b>
          I realised importance of dedication and hard work over mere
          creativity.
        </p>
        <p class="p3">Here are a few tools and technologies i work with :</p>
        <section class="tech">
          <ul>
            <li>HTML, CSS, SCSS</li>
            <li>JavaScript(ES6+)</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>Version Control(Git)</li>
            <li>Command Line</li>
          </ul>
        </section>
      </section>
      <div class="image">
        <img
          src="../../assets/samuel-regan-asante-awXQiHUF4IU-unsplash.jpg"
          alt="profile-pic"
        />
      </div>
    </section>

<!--   Job Experience Section   -->
    <p class="title"><span>02.</span> Job Experience</p>
<section class="experience">

</section>

  </section>
</div>
