<div class="layout" [ngClass]="!darkTheme ? 'dark' : ''">
  <nav>
    <ul>
      <li><span>01.</span>About Me</li>
      <li><span>02.</span>Job Experience</li>
      <li><span>03.</span>Projects</li>
      <li><span>04.</span>Contact Me</li>
    </ul>
  </nav>

  <section class="body">
    <h1 class="logo">&lt;VS/&gt;</h1>
    <!--   Intro section     -->
    <section class="intro">
      <div class="name">
        <p>&lt;Hi, my name is/&gt;</p>
        <h1>Samuel Valentine.</h1>
        <h2>I'm a Frontend Engineer</h2>
        <button class="connect">Let's Connect</button>
      </div>
      <div class="about">
        <p>
          I am <span>obsessed</span> with building and ocassionally designing
          avant-garde products that runs on the world wide web. Presently, I'm a
          <span>freelance frontend engineer</span> open to full and part time
          remote roles.
        </p>
      </div>
    </section>

    <!-- About me section -->
    <section class="about-me">
      <p class="title"><span>01.</span> About Me</p>
      <div class="inner">
        <section class="text">
          <p class="p1">
            Hi, my name is Valentine and i love to create thoughtfully designed
            products that runs on the web. For me, it all started when i wanted
            to make a website where people could watch architecture videos for
            free. I started with HTML but could not wrap my head around CSS.
          </p>
          <p class="p2">
            After listening to my dad say
            <b
              ><i
                >“Genius is one percent inspiration and 99 percent
                perspiration.”- Thomas Edison</i
              >.
            </b>
            I realised importance of dedication and hard work over mere
            creativity.
          </p>
          <p class="p3">Here are a few tools and technologies i work with :</p>
          <section class="tech">
            <ul>
              <li>HTML, CSS, SCSS</li>
              <li>JavaScript(ES6+)</li>
              <li>TypeScript</li>
              <li>Angular</li>
              <li>Version Control(Git)</li>
              <li>Command Line</li>
            </ul>
          </section>
        </section>
        <div class="image">
          <img
            src="../../assets/samuel-regan-asante-awXQiHUF4IU-unsplash.jpg"
            alt="profile-pic"
          />
        </div>
      </div>
    </section>

    <!--   Job Experience Section   -->
    <section class="experience">
      <p class="exp-title">Job Experience<span>02.</span></p>
      <div class="inner">
        <ul>
          <li
            class="list"
            (click)="selectCompany('freelance')"
            [ngClass]="company == 'freelance' ? 'activeTile' : ''"
          >
            Freelance
          </li>
          <li
            class="list"
            (click)="selectCompany('3d')"
            [ngClass]="company == '3d' ? 'activeTile' : ''"
          >
            Kingswill Int. Services
          </li>
          <li
            class="list"
            (click)="selectCompany('intern')"
            [ngClass]="company == 'intern' ? 'activeTile' : ''"
          >
            Kingswill Int. Services
          </li>
        </ul>

        <div class="content">
          <div class="value" *ngIf="company == 'freelance'">
            <h2>
              <span class="colored-text">Freelance</span> Frontend Engineer
            </h2>
            <p class="duration">March 2020 - Present</p>
            <ul>
              <li>
                Managed full-cycle design tasks, handling all phases from
                conception to completion while maintaining guidelines
                throughout.
              </li>
              <li>
                Conducted testing and review of website design for
                responsiveness, clarity and effectiveness.
              </li>
              <li>
                Engineered and maintained high quality web-apps using Angular.
              </li>
              <li>Designed User Interfaces for web-aps in Figma.</li>
            </ul>
          </div>
          <div class="value" *ngIf="company == '3d'">
            <h2>
              <span class="colored-text">3D</span> Architectural Visualizer
              <span class="firm">Kingswill Int. Services</span>
            </h2>
            <p class="duration">September 2019 - October 2020</p>
            <ul>
              <li>
                Exceeded goals through effective task prioritization and great
                work ethic.
              </li>
              <li>
                Developed primary models and sketches to showcase final product
                designs.
              </li>
              <li>
                Trained 42 incoming designers on proper use of 3d rendering
                software, including Sketchup, Revit, Twinmotion and Enscape.
              </li>
            </ul>
          </div>
          <div class="value" *ngIf="company == 'intern'">
            <h2>
              <span class="colored-text">Architectural</span> Intern
              <span class="firm">Kingswill Int. Services</span>
            </h2>
            <p class="duration">September 2016 - August 2019</p>
            <ul>
              <li>
                Improved the quality of construction drawings by 40% by
                producing detailed drawing sheets.
              </li>
              <li>
                Oversaw completion of over 150 architectural design projects,
                successfully meeting all key milestones.
              </li>
              <li>
                Created, printed and modified drawings in AutoCAD and Revit.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--   Job Experience Section   -->
    <p class="title"><span>03.</span>Projects</p>
    <section class="project-container">
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="p1">
        <div class="info">
          <p class="sn">01</p>
          <div class="details">
            <h3>Project Name</h3>
            <span class="stack">
              <p>Node js</p>
              <p>Api</p>
              <p>Javascript</p>
            </span>
            <p class="src">&lt;src/&gt;</p>
          </div>
          <button>View Project</button>
        </div>
      </div>
      <div class="see-others">
        <button (click)="seeOtherProjects()">
          {{ seeOthers ? "Hide" : "See" }} Other Projects
        </button>
      </div>
      <div class="other-projects" *ngIf="seeOthers">
        <h2>Other Projects</h2>
        <p class="pre">
          These are other projects that i create to constantly improve my
          skills. The source codes are available on my github repositories
        </p>
        <ul class="other-list">
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
          <li>
            /01 <span class="src">&lt;src/&gt;</span>
            <span class="name">one king project like that nai go dey here</span>
          </li>
        </ul>
      </div>
    </section>

    <!--  Contact Me Section   -->
    <section class="contact">
      <p class="exp-title">Contact Me<span>04.</span></p>
      <p class="pre">&lt;So what's next?/&gt;</p>
      <h2>Let's Connect</h2>
      <div class="inner">
        <div class="form"></div>
        <div class="note">
          <p>
            Presently, I'm open to full and part time frontend engineering
            remote roles. If you have any, just want to say hi or have any
            questions, feel free to send a mail 😊.
          </p>
          <p>Port- Harcourt. Nigeria</p>
          <p>valentinesamuel080@gmail.com</p>
        </div>
      </div>
    </section>
  </section>
</div>
