<div class="layout" [ngClass]="!darkTheme ? 'dark' : ''">
  <nav>
    <ul #menu [ngClass]="mobileMenu ? '' : 'hide'">
      <li>
        <a href="/#about"><span>01.</span>About Me</a>
      </li>
      <li>
        <a href="/#experience"><span>02.</span>Job Experience</a>
      </li>
      <li>
        <a href="#projects"><span>03.</span>Projects</a>
      </li>
      <li>
        <a href="#contact"><span>04.</span>Contact Me</a>
      </li>
      <li><a href="../../assets/files/Valentine-Samuel-Resume.pdf" download="Valentine-Samuel-Resume"><span class="resume">Resume</span></a></li>
    </ul>
    <div
      #hamBtn
      [ngClass]="mobileMenu ? 'open' : ''"
      (click)="showMobileMenu()"
      class="hamburger"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>

  <section class="body">
    <div class="appbar"><h1 class="logo">&lt;VS/&gt;</h1></div>
    <app-theme-checker
      class="switcher"
      (changeTheme)="darkTheme = !darkTheme"
    ></app-theme-checker>
    <!--   Intro section     -->
    <section class="intro">
      <div class="name">
        <p>&lt;Hi, my name is/&gt;</p>
        <h1>Samuel Valentine.</h1>
        <h2>Frontend Engineer</h2>
        <button class="connect">Let's Connect</button>
      </div>
      <div class="about">
        <p>
          I am <span>obsessed</span> with building and ocassionally designing
          avant-garde products that runs on the world wide web. Presently, I'm a
          <span>freelance frontend engineer</span> open to full and part time
          remote roles.
        </p>
        <button class="mobile-connect">Let's Connect</button>
      </div>
    </section>

    <!-- About me section -->
    <section class="about-me" id="about">
      <p class="title"><span>01.</span> About Me</p>
      <div class="inner">
        <section class="text">
          <p class="p1">
            Hi, my name is Valentine and i love to create thoughtfully designed
            products that runs on the web. For me, it all started when i wanted
            to make a website where people could watch architecture videos for
            free. I started with HTML but could not wrap my head around CSS.
          </p>
          <p class="p2">
            After listening to my dad say
            <b
              ><i
                >“Genius is one percent inspiration and 99 percent
                perspiration.”- Thomas Edison</i
              >.
            </b>
            I realised importance of dedication and hard work over mere
            creativity.
          </p>
          <p class="p3">Here are a few tools and technologies i work with :</p>
          <section class="tech">
            <ul>
              <li>HTML, CSS, SCSS</li>
              <li>JavaScript(ES6+)</li>
              <li>TypeScript</li>
              <li>Angular</li>
              <li>Version Control(Git)</li>
              <li>Command Line</li>
            </ul>
          </section>
        </section>
        <div class="image">
          <img
            src="../../assets/samuel-regan-asante-awXQiHUF4IU-unsplash.jpg"
            alt="profile-pic"
          />
        </div>
      </div>
    </section>

    <!--   Job Experience Section   -->
    <section class="experience" id="experience">
      <p class="exp-title">Job Experience<span>02.</span></p>
      <div class="inner">
        <ul>
          <li
            class="list"
            (click)="selectCompany('freelance')"
            [ngClass]="company == 'freelance' ? 'activeTile' : ''"
          >
            Freelance
          </li>
          <li
            class="list"
            (click)="selectCompany('3d')"
            [ngClass]="company == '3d' ? 'activeTile' : ''"
          >
            Kingswill Int. Services
          </li>
          <li
            class="list"
            (click)="selectCompany('intern')"
            [ngClass]="company == 'intern' ? 'activeTile' : ''"
          >
            Kingswill Int. Services
          </li>
        </ul>

        <div class="content">
          <div class="value" *ngIf="company == 'freelance'">
            <h2>
              <span class="colored-text">Freelance</span> Frontend Engineer
            </h2>
            <p class="duration">March 2020 - Present</p>
            <ul>
              <li>
                Managed full-cycle design tasks, handling all phases from
                conception to completion while maintaining guidelines
                throughout.
              </li>
              <li>
                Conducted testing and review of website design for
                responsiveness, clarity and effectiveness.
              </li>
              <li>
                Engineered and maintained high quality web-apps using Angular.
              </li>
              <li>Designed User Interfaces for web-aps in Figma.</li>
            </ul>
          </div>
          <div class="value" *ngIf="company == '3d'">
            <h2>
              <span class="colored-text">3D</span> Architectural Visualizer
              <span class="firm">Kingswill Int. Services</span>
            </h2>
            <p class="duration">September 2019 - October 2020</p>
            <ul>
              <li>
                Exceeded goals through effective task prioritization and great
                work ethic.
              </li>
              <li>
                Developed primary models and sketches to showcase final product
                designs.
              </li>
              <li>
                Trained 42 incoming designers on proper use of 3d rendering
                software, including Sketchup, Revit, Twinmotion and Enscape.
              </li>
            </ul>
          </div>
          <div class="value" *ngIf="company == 'intern'">
            <h2>
              <span class="colored-text">Architectural</span> Intern
              <span class="firm">Kingswill Int. Services</span>
            </h2>
            <p class="duration">September 2016 - August 2019</p>
            <ul>
              <li>
                Improved the quality of construction drawings by 40% by
                producing detailed drawing sheets.
              </li>
              <li>
                Oversaw completion of over 150 architectural design projects,
                successfully meeting all key milestones.
              </li>
              <li>
                Created, printed and modified drawings in AutoCAD and Revit.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--   Job Experience Section   -->
    <app-projects id="projects"></app-projects>

    <!--  Contact Me Section   -->
    <section class="contact" id="contact">
      <p class="exp-title">Contact Me<span>04.</span></p>
      <p class="pre">&lt;So what's next?/&gt;</p>
      <h2>Let's Connect</h2>
      <div class="inner">
        <div class="form">
          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSubmit(contactForm.value)"
          >
            <p class="errormsg">{{ nameErrorAlert() }}</p>
            <input type="text" formControlName="name" placeholder="Name" />
            <p class="errormsg">{{ emailErrorAlert() }}</p>
            <input type="email" formControlName="email" placeholder="E-mail" />
            <p class="errormsg">{{ messageErrorAlert() }}</p>
            <textarea
              formControlName="message"
              cols="30"
              rows="10"
              placeholder="Message"
            ></textarea>
            <button [ngClass]="!contactForm.valid ? 'disabled' : 'submit'">
              Send Message
            </button>
          </form>
        </div>
        <div class="note">
          <p>
            Presently, I'm open to full and part time frontend engineering
            remote roles. If you have any, just want to say hi or have any
            questions, feel free to leave a message. 😊
          </p>
          <p class="location">Port- Harcourt, Nigeria</p>
        </div>
      </div>
    </section>

    <div class="socials">
      <span><img src="../../assets/icons/github.svg" alt="github" /></span>
      <span
        ><img src="../../assets/icons/instagram.svg" alt="instagram"
      /></span>
      <span><img src="../../assets/icons/linkedin.svg" alt="linkedin" /></span>
      <span><img src="../../assets/icons/linktree.svg" alt="linktree" /></span>
      <span><img src="../../assets/icons/twitter.svg" alt="twitter" /></span>
    </div>

    <div class="footer">
      <p>Designed and Built by Samuel Valentine.</p>
      <p>
        <span class="copyright">&copy;</span> {{ getCurrentYear() }} All Rights
        Reserved
      </p>
    </div>
  </section>
</div>
